.appComponentBackground {
    background-color: rgb(19, 17, 41);
    /* overflow-x: hidden;
    background-image: url('./components/images/hero-page-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat; */
}