body {
    /* padding-top: 60px;
    overflow-x: hidden;
    background-image: url('./components/images/hero-page-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat; */

    /* main.css */


    /* background: linear-gradient(to right, #ffffff, #e6e6e6);
    margin: 0;
    font-family: 'Arial', sans-serif; */
    /* color: #333; */
    /* Default text color on light background */


    /* Add any other global styles or component-specific styles below */

}

button a {
    color: inherit;
    /* Inherit the color from the parent element */
    text-decoration: none;
    /* Remove text decoration (e.g., underline) */
}

@media (max-width: 1200px) {
    body {
        background-size: cover;
        background-position: center center;
    }
}

:root {
    --special_text_color: #09aff4;
    --special_letter_spacing: 0.15rem;
}